

.center {
    text-align: center;
    display: flex;
    justify-content: center;
}

p {
    text-align: center;
    margin: 10% auto 0 auto;
    cursor: pointer;
    transform: scale(3);
    font-family: 'Space Mono', monospace;
}

h1{
    font-family: 'Silkscreen',cursive;
    font-size: xx-large;
    transform: scale(5);
    display: block;
    margin: 10% auto 0 auto;
}

a { 
    color: black;
}

a:hover {
    color:rgb(21, 252, 4);
}

body{
  padding: 0px;
  margin: 0px;
}

#gradient{
position:absolute;
top:0;
 width: 100%;
 height: 100vh;
 padding: 0px;
 margin: 0px;
 z-index: -10;
}