.girl {
    height: 100vh;
    width: 100vw;
    overflow:hidden;
    margin: -5px -5px;
    background-image: url("assets/girl.png");
    background-size: cover;

}

body {
    background-size: cover;

}

.top {
    width: 105%;
    left:-5px;
    top:-5px;
    padding-bottom:10px;
    background-color:rgba(0, 0, 0, 0.5);
    position: fixed;
    opacity: 1;
    z-index:1000;
}

.top:hover {
    opacity: 1;
}

.title {
    position:fixed;
    font-family: 'Silkscreen', cursive;
    font-size: 5vh;
    text-align: center;
    color: orange;
    width: 100%;
    justify-content: center;
    text-shadow:2px 2px #ff0000

}
.setting {
    font-family: 'Silkscreen', cursive;
    font-size:x-large;
    color: aliceblue;
    width: 25vw;
    display: flex;
    float:left;
    justify-content: center;
    cursor: pointer;
    text-align: center;
}


.smallform {
    display: flex;
    float:left;
    cursor: pointer;
    text-align: center;
}

.timesetting {
    font-family: 'Silkscreen', cursive;
    font-size:x-large;
    color: aliceblue;
    width: 25vw;

    display: flex;
    margin-bottom:0;
    justify-content: center;
    cursor: pointer;
    text-align: center;
}

.timesetting2 {
    font-family: 'Silkscreen', cursive;
    font-size:large;
    color: black;
    margin:0;
    cursor: pointer;
    text-align: center;
}

.startbutton {
    font-family: 'Silkscreen', cursive;
    color: aliceblue;
    margin-top:20px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    margin-bottom:0;
    width: 25vw;


}

.start {
    font-size:xx-large;
    padding:10px;
    border-radius:10px;
    background-color:lightblue;
    text-shadow:2px 2px darkblue;
    margin-bottom:0;
}

.start:hover {
    padding:10px;
    border-radius:10px;
    background-color:darkblue;
    text-shadow:2px 2px darkblue;
}


input#hour {
    width:15px;
}

input#minute {
    width:15px;
}

input#second {
    width:15px;
}

input#breakhour {
    width:15px;
}

input#breakminute {
    width:15px;
}

input#breakfreq {
    width:15px;
}

#background:hover {
color:yellow;
font-size:xx-large;
text-shadow:2px 2px #ff0000;
}

#music:hover {
    color:lightgreen;
    font-size:xx-large;
    text-shadow:2px 2px darkgreen;
    }
    
 #study:hover {
        color:blue;
        text-shadow:2px 2px #ff0000;
     }
        

.time{
    bottom:0;
    position:fixed;
    z-index: 1;
}

#welcome{
    font-family: 'Silkscreen', cursive;
    color: aliceblue;
    font-size:10vh;
    margin: auto;
    text-shadow:3px 3px blue;
}


form {
    font-family: 'Silkscreen', cursive;

}