body{
    background-image: url("tomato_gifs/bling.gif");
    background-repeat: repeat-y;
    background-color: black;
    background-size: contain;
}

.grid {
    float: left;
    width: 18.5vw;
    height: 90vh;
}

.sticky {
    position:fixed;
}


.smallsqu {
    float:left;
    width: 4.6vw;
    height: 4.6vw;
}

.grid2 {
    float: left;
    width: 25vw;
    height: 90vh;
}


.smallsqu2 {
    float:left;
    width: 4.15vw;
    height: 4.15vw;
}

.bigsqu {
    float:left;
    width: 25vw;
    height: 20vw;
}

.topgrid {
    width: 100vw;
    height: 4vw;
    top:0;
    position:fixed;
}


.topgifs {
    width: 100vw;
    height: 90vh;
    float:left;
    position:fixed;
}

.stickygifs {
    float:left;
    width:15vw;
}

#sticky1 {
    transform: translate(10px,10vh);
    opacity: 0;
}
#sticky1:hover{
    opacity: 1;
}

#sticky2{
    transform: translate(40vh,30vh);
    opacity: 0;
}

#sticky2:hover{
    opacity: 1;
}

#sticky3 {
    transform: translate(8vh,70vh);
    opacity: 0;
}
#sticky3:hover{
    opacity: 1;
}
#sticky4 {
    transform: translate(50vh,30vh);
    opacity: 0;
}
#sticky4:hover{
    opacity: 1;
}
#sticky5 {
    transform: translate(35vh,70vh);
    opacity: 0;
}
#sticky5:hover{
    opacity: 1;
}
#sticky6 {
    transform: translate(-60vh,10vh)scale(0.4);
    opacity: 0;
}
#sticky6:hover{
    opacity: 1;
}
.botgrid {
    bottom:0;
    position:fixed;
}

.topsqu {
    float:left;
    width: calc(100vw / 24.5);
    height: calc(100vw / 24.5);
}

.row:after {
    content: "";
    display: table;
    clear:both;
}



img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}