*{
    cursor:none;
}



.container {
    width: 100%;
}

.center {
    text-align: center;
    display: flex;
    justify-content: center;
}

a { 
    color: black;
}


.panic {
    display: block;
    margin: 10% auto 0 auto;
    width: 40%;
}

.lefttomato {
    display: none;
}

.empty {
    display: block;
    margin: 10% auto 0 auto;
    width: 40%;
}

.door {
position: fixed;
    width:20vw;
    transform: translate(10px,-50vh) scale(0.75);
    opacity: 0;
}

.door:hover {
    opacity: 1;
}


p {
    text-align: center;
    background-color: rgb(249, 249, 249);
    border-radius: 10px;
    padding: 20px;
    font-family: 'Titan One',cursive;
    font-size: larger;

}


body {
    background-image: url("expressions/background2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.cursor {
    position: fixed;
    display: inline-block;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 800px;
    height: 800px;
    pointer-events: none;
    opacity: 1;
}

.cursor.hide {
    opacity: 0;
}

.cursor img{
    z-index: 1001;
    width:100%;
}