*{
    cursor:none;
}


.container {
    position: fixed;
    width: 100%;
}


.imgmain {
    position:relative;
    width: 40%;
    margin: 10% auto 0 auto;
}

.imghover{
    position:absolute;
    margin: 10% auto 0 auto;
    opacity: 0;
    width: 40%;

}

.imghover:hover{
    opacity: 1;
}


p {
    text-align: center;
    background-color: rgb(249, 249, 249);
    padding: 20px;
    font-family: 'Titan One',cursive;
    font-size: larger;

}

.center {
    text-align: center;
    display: flex;
    justify-content: center;
}


body {
    background-color: black;
}

.cursor {
    position: fixed;
    display: inline-block;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100px;
    height: 100px;
    pointer-events: none;
    opacity: 1;
}

.cursor.hide {
    opacity: 0;
}

.cursor img{
    z-index: 1001;
    width:100%;
}