*{
    cursor:none;
}


.container {
    position: fixed;
    width: 100%;
}


.imgmain {
    position:relative;
    width: 40%;
    margin: 10% auto 0 auto;
}

.imghover{
    position:absolute;
    margin: 10% auto 0 auto;
    opacity: 0;
    width: 40%;

}

.imghover:hover{
    opacity: 1;
}


p {
    text-align: center;
    background-color: rgb(249, 249, 249);
    border-radius: 10px;

    padding: 20px;
    font-family: 'Titan One',cursive;
    font-size: larger;

}

.center {
    text-align: center;
    display: flex;
    justify-content: center;
}


body {
    background-color: black;
}

.cursor {
    position: fixed;
    display: inline-block;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100px;
    height: 100px;
    pointer-events: none;
    opacity: 1;
}

.cursor.hide {
    opacity: 0;
}

.cursor img{
    z-index: 1001;
    width:100%;
}

.toppics {
    width: 100vw;
    height: 90vh;
    float:left;
}

.stickypics {
    float:left;
    width:20vw;
}

#axe {
    transform: translate(-10vh,10vh) scale(0.5);
    opacity: 0;
}

#axe:hover {
    opacity: 1;
}

#blender {
    transform: translate(-10vh,0) scale(0.5);
    opacity: 0;
}

#blender:hover{
    opacity: 1;
}

#knife {
    transform: translate(40vh,0) scale(0.8);
    opacity: 0;
}

#knife:hover{
    opacity: 1;
}

#poppy {
    transform: translate(20vh,10vh) scale(0.5);
    opacity: 0;
}

#poppy:hover{
    opacity: 1;
}

#speaker {
    opacity: 1;
    pointer-events: none;
}


/*@keyframes  {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0s;
    }
}*/

#wine {
    transform: translate(-80vw,-50vh) scale(0.3);
    opacity: 0;
}

#wine:hover {
    opacity: 1;
}


audio {
    z-index: 1000;
    position: fixed;
    transform: translate(3vw,4vh);
    right: 0;
    top:10vh;
    opacity: 0;
}