.container {
    width: 100%;
}

.img {
    display: block;
    margin: 10% auto 0 auto;
    width: 40%;
    cursor: pointer;

}

.panic {
    display: block;
    margin: 10% auto 0 auto;
    width: 40%;
    cursor: pointer;
}

p {
    text-align: center;
    background-color: rgb(238, 81, 81);  

    /*background-image: url(items_png/textbox2.png);
    background-size:110%;
    background-position-y: -4vh;
    background-position-x: -4vh;*/
    padding: 50px;
    cursor: pointer;
    font-family: 'Titan One', cursive;
    font-size: larger;
}

a { 
    color: black;
}

.center {
    text-align: center;
    display: flex;
    justify-content: center;
}


body {
    background-image: url("expressions/background2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

