.container {
    width: 100%;
}

.img {
    display: block;
    margin: 10% auto 0 auto;
    width: 40%;
}

p {
    text-align: center;
}

body {
    background-image: url("background2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}