body {
    background-image: url("assets/Dream_bkgd.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
    background-position: center;
}

h1{
    font-family: 'Silkscreen', cursive;
    text-align: center;
    font-size:4vw;
    margin: 0 auto 0 auto;
    color: rgb(23, 87, 236);
}

#titlehover {
    cursor: help;
    
}

#since{
    font-size:2vw;
    color: rgb(23, 87, 236);
    font-weight: 700;


}

#bank {
    cursor: pointer;
}

#youwould{
    font-size:2vw;
    color: rgb(23, 87, 236);
    font-weight: 700;
}

p{
    font-family: 'Silkscreen', cursive;
    text-align: center;
    margin:0;
}


img {
    height: 11vh;
    object-fit: cover;
}

.center{
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.top {
margin-left: auto;
margin-right: auto;
padding: 3vw;
    background-color: rgba(0, 0, 0, 0.5);
    width: 80vw;
display: none;
    margin:5vw;
height:30vh;
}
/*.top:hover {
    opacity: 1;
}*/

.label {
    text-align: center;
    font-family: 'Silkscreen', cursive;
    /*font-size:2vw;*/
    transform: scaleX(-1);
    margin: 0;
position:fixed;
opacity: 0;
    }

.pig:hover .label {
    opacity: 1;
}


.pig {
    /* adjust width to move pig along the progress bar*/
    width: 1%;
    z-index: 55;
    transform: scaleX(-150%) scaley(150%)translateY(4vh);
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;

   /* margin-left: auto;
    margin-right: auto;
        max-width: 50vw;
*/
}

.pig.hide{
    opacity: 0;
}

.moneypig {
    width: 1%;
    z-index: 55;
    transform: scaleX(-270%) scaleY(270%);
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    opacity: 0;
    pointer-events: none;
}


.moneypig.show{
    opacity:1;
}

.addition {
    text-align: center;
    font-family: 'Silkscreen', cursive;
    transform: scaleX(-1);
    margin: 0;
    margin-top:-4vw;
position:fixed;
}


.description {
    text-align: center;
    font-family: 'Silkscreen', cursive;
    font-size:1.1vw;
    transform: scale(2);
    width: 100%;
    margin-bottom: 10px;
    color: white;
}


.time{
font-size:1.5vw;
color:rgb(23, 87, 236);
display: flex;
text-align: center;
flex-direction: column;
align-items: center;
width: 20vw;
float: left;
padding:10px;
}

.time2{
    font-size:1.5vw;
    color:rgb(23, 87, 236);
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    float: right;
    padding:10px;
    }
    
#togo {
    margin:5px;
}
.progress {
    align-items: center;
    justify-content: center;  
    width: 70vw;
    height: 5vh;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(122, 122, 122);
    transform: translateY(18vh);
}

.progress__fill{
        /* adjust width to move progress bar*/
    width:1%;
    height: 100%;
    background-color: rgb(254, 222, 38);
    border: 2px;
    border-color: rgb(122, 122, 122);
}

.progress__text{
    font-family: 'Silkscreen', cursive;
    text-align: right;
    font-size: 3.5vh;
  /*  display: flex;
    flex-direction: column;*/
    width: 100%;
    height: 100%;
}


.bottom {
    width: 90vw;
    bottom: 2vh;
    left:5vw;
    position:fixed;
    align-items: center;
    justify-content: center;  
    /*    height: 25vh;
    background-color: rgb(122, 122, 122);*/
}


.pig2 {
    /* adjust width to move pig along the progress bar*/
    width: 24%;
    height: 5vh;
    z-index: 55;
    transform: scaleX(-0.5) scaleY(0.5)translateX(-5vh);
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pig2.hide {
    opacity: 0;
}

.moneypig2 {
    width: 1%;
    z-index: 55;
    transform: scaleX(200%) scaleY(200%) translateY(-2vh);
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    opacity: 0;
}


.moneypig2.show{
    opacity:1;
}

.addition2 {
    text-align: center;
    font-family: 'Silkscreen', cursive;
    transform: scaleX(-1);
    margin: 0;
    margin-top:-4vw;
position:fixed;
}

.progress2 {
    align-items: center;
    justify-content: center;  
    width: 85vw;
    height: 5vh;
    margin-left: auto;
    margin-right: auto;
    bottom:0;
}

.progress__fill2{
        /* adjust width to move progress bar*/

    width:10%;
    height: 100%;
    background-color: rgb(254, 222, 38,0.25);
    border: 2px;
    border-color: rgb(122, 122, 122);
float: left;
}


.progress__fill2_2{
    /* adjust width to move progress bar*/
width:1%;
height: 100%;
background-color: rgb(254, 222, 38);
display: flex;
margin-top:-5vh;
}

.progress__fill3{
    /* adjust width to move progress bar*/
width:20%;
height: 100%;
background-color: rgba(254, 110, 38, 0.25);
border: 2px;
border-color: rgb(122, 122, 122);
float: left;
}

.progress__fill3_2{
    /* adjust width to move progress bar*/
width:0%;
height: 100%;
background-color: rgba(254, 110, 38);
display: flex;
margin-top:-5vh;
}

.progress__fill4{
    /* adjust width to move progress bar*/
width:70%;
height: 100%;
background-color: rgba(254, 38, 38, 0.25);
border: 2px;
border-color: rgb(122, 122, 122);
float: left;
}

.progress__fill4_2{
    /* adjust width to move progress bar*/
width:0%;
height: 100%;
background-color: rgba(254, 38, 38);
display: flex;
margin-top:-5vh;
}

.progress__text2{
    font-family: 'Silkscreen', cursive;
    text-align: center;
    font-size: 3vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
}


.progress__text2:hover{
    color:red;
}



.future1 {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(7.3)translate(0vh,-5vh);
    opacity: 0;
    pointer-events: none;
}

.future2 {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(7.3)translate(0vh,-5vh);
    opacity: 0;
    pointer-events: none;
}


.futuretext {
    font-size: 10%;
    position:fixed;
    text-align: center;
    transform: translate(-1vh,-2vh);

}

.progress__fill2:hover.future1{
    opacity: 1;
}

 


    .pig2:hover .label {
        opacity: 1;
    }


   